<div id="availability" style="display:none;">
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" id="date2D">-2 Days</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" id="date1D">-1 Days</a></li>
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" id="dateO">D Days</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" id="date1U">+1 Days</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" id="date2U">+2 Days</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active">
        <table class="table">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Schedule</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="date2D_table_body" class="availability-table-body">
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="date1D.content">
        <table class="table">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Schedule</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="date1D_table_body" class="availability-table-body">
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane">
        <table class="table">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Schedule</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="date0_table_body" class="availability-table-body">
            <!--<tr>
                <td>Air France</td>
                <td>12-14</td>
                <td>200$</td>
            </tr>-->
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="date1U.content">
        <table class="table">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Schedule</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="date1U_table_body" class="availability-table-body">
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane">
        <table class="table">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Schedule</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="date2U_table_body" class="availability-table-body">
            </tbody>
        </table>
    </div>
  </div>

</div>
</div>