<div id="availability" style="display:none;">
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="#date2D_table" a data-toggle="tab" id="date2D">-2 Days</a></li>
    <li><a href="#date1D_table" a data-toggle="tab" id="date1D">-1 Days</a></li>
    <li class="active"><a href="#date0_table" data-toggle="tab" id="date0">D Days</a></li>
    <li><a href="#date1U_table" data-toggle="tab" id="date1U">+1 Days</a></li>
    <li><a href="#date2U_table" data-toggle="tab" id="date2U">+2 Days</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="date2D_table">
        <table class="table">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Schedule</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="date2D_table_body" class="availability-table-body">
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="date1D_table">
        <table class="table">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Schedule</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="date1D_table_body" class="availability-table-body">
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane active" id="date0_table">
        <table class="table">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Schedule</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="date0_table_body" class="availability-table-body">
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="date1U_table">
        <table class="table">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Schedule</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="date1U_table_body" class="availability-table-body">
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="date2U_table">
        <table class="table">
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Schedule</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="date2U_table_body" class="availability-table-body">
            </tbody>
        </table>
    </div>
  </div>

</div>
</div>