clouds = rgba(236,240,241, 0.9);
clouds--seelected = rgba(236,240,241, 1);
white-transparent = rgba(255, 255, 255, 0.5);

#availability
    display: none;

#loading
    display: none;
    margin:0 auto;
    width: 100px;

#availability
    margin: 0px 0px;
    padding: 0px;

.date
    &__header
        background: white-transparent;
        &__date
            font-size: 140%;
            font-weight: bold; 
        &__price
            font-size: 80%;

.flight
    background: clouds;
    margin: 0px;
    overflow:hidden;
    position: relative;
    text-align: center;
    &__info
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &__date  
            &__departs 
                font-size: 120%;
                font-weight: bold;
                text-align: right;
            &__trip
                margin:0 auto;
                width: 100px;     
                text-align: center;
                &__days
                    font-size: 90%;                       
            &__arrives 
                font-size: 120%;
                font-weight: bold;
                text-align: left;
    &__selection
        float: right
        text-align: center;
        &_price
            font-size: 130%;
            margin-bottom: 10px;
            font-weight: bold;
    &:hover
        background: @background - 40;
    &--selected
        background: clouds--seelected;
