clouds = #ecf0f1;

#availability
    display: none;

#loading
    display: none;
    margin:0 auto;
    width: 100px;

.flight
    background: clouds;
    margin: 0px;
    &:hover
        background: @background - 40;
    &__airline
        float: left;
    &__price
        float: right;
    &__date
        margin-left: 70px;
    &--selected
        background: @background - 20;
