<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Reservation System</title>
        <link rel="stylesheet" href="/scripts/normalize.css/normalize.css">
        <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/scripts/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="/partials/typeaheadjs.css">
        <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        </style>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              Hola
              <a class="navbar-brand glyphicon glyphicon-plane"></a>
            </div>
          </div>
        </nav>    

        <div class="container">
            <div w3-include-html="/partials/request.html"></div>
            <div w3-include-html="/partials/availability.html"></div>
        </div>
    </div>
    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/scripts/moment/min/moment.min.js"></script>
    <script src="/scripts/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/scripts/typeahead.js/dist/typeahead.jquery.min.js"></script>
    <script src="/scripts/bootstrap-validator/dist/validator.min.js"></script>
    <script src="/scripts/bootstrap-validator/dist/validator.min.js"></script>
    <script src="http://www.w3schools.com/lib/w3data.js"></script>
    <script src="./bundle.js"></script>
    <script>
        w3IncludeHTML();
    </script>
    </body>
</html>