<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate' />
        <meta http-equiv='Pragma' content='no-cache' />
        <meta http-equiv='Expires' content='0' />
        <title>Reservation System</title>
        <link rel="stylesheet" href="/scripts/normalize.css/normalize.css">
        <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/scripts/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand"><img style="max-width:100px;"  src="/www/flightrs.png"></img></a>
            </div>
          </div>
        </nav>    
        <div class="container">
            <div id="search" class="panel-group col-md-8" role="tablist" aria-multiselectable="true" >
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">
            <div class="panel-title">
                <div class="search__info" id="search-info">
                </div>
                <div class="search__title">
                    Search
                </div>
            </div>    
            </a>
            
            </div>
            <div id="collapseSearch" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <form id="flight-search" autocomplete="off">
                    <div class="form-group">
                        <input type="text" class="form-control typeahead" id="FromLocation" placeholder="From" data-is-not-to="_" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control typeahead" id="ToLocation" placeholder="To" data-is-not-from="_" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <div class="input-group date" id="datepicker">
                            <input type="text" class="form-control" id="Date" placeholder="Date" required>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                </form>
                <button type="submit" form="flight-search" class="glyphicon glyphicon-search btn btn-primary pull-right"></button>
            </div>
            </div>
    </div>
</div>

            <div w3-include-html="/partials/availability.html"></div>
            <div w3-include-html="/partials/initial.html"></div>
        </div>
        
        <script src="/scripts/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/scripts/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="/scripts/bootstrap-3-typeahead/bootstrap3-typeahead.min.js"></script>
        <script src="/scripts/bootstrap-validator/dist/validator.min.js"></script>
        <script src="/www/w3data.js"></script>
        <script src="/www/bundle.js"></script>
        <script>
            w3IncludeHTML();
        </script>
    </body>
</html>